<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="6.1.3">
	<name short="vkPatch">vkPatch 6 + Kikuyutoo</name>
	<description>Скрипты для Вконтакте vkPatch</description>
	<author href="http://klinifini.livejournal.com" email="pochemuto@gmail.com">Сергей Третьяк</author>
	<icon src="icons/icon_64.png"/>
</widget>